# OS
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
.env.*

# Build / Dist
dist/
build/
out/

# Editor
.vscode/
.cursor/
.idea/

# Logs
*.log

# Secrets
*.env.local

logs/*
!logs/.gitkeep
